* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
    list-style: none;
}

:root {
    --black: #0f1625;
    --primary: #fec400;
    --secondary: #4e7bac;
    --white: #fff;
    --gray:#f6f6f6;
    --footer:#f2f2f2;
}

/* Estilo para navegadores basados en WebKit */
::-webkit-scrollbar {
    width: 14px; 
}

/* Fondo de la barra de desplazamiento */
::-webkit-scrollbar-track {
    background: #f1f1f1; 
    border-radius: 10px; 
}

/* Estilo de la barra */
::-webkit-scrollbar-thumb {
    background-color: var(--secondary); 
    border-radius: 10px; 
    border: 3px solid #f1f1f1;
}

/* Estilo de la barra al hacer hover */
::-webkit-scrollbar-thumb:hover {
    background-color: var(--primary); 
}

/* Opcional: para personalizar las esquinas o sombras */
::-webkit-scrollbar-corner {
    background-color: #f1f1f1;
}


body {
    min-height: 100vh;
    background-color: var(--white);
    color: var(--black);
}

header {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: var(--white);
    padding: 16px 5%;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
}

.logo {
    display: flex;
    align-items: center;
    text-decoration: none;
}

.logo-img {
    width: 120px;
    height: auto;
    margin-left: -20%;
}

.navbar {
    display: flex;
    align-items: center;
}

.navbar a {
    color: var(--black);
    font-size: 1rem;
    font-weight: 500;
    padding: 10px 15px;
    margin: 0 30px;
    transition: color 0.3s ease;
}

.navbar a:hover {
    color: var(--primary);
}

.navbar a.active {
    color: var(--primary);
}

.main {
    display: flex;
    align-items: center;
}

.main a {
    margin-right: 25px;
    margin-left: 10px;
    color: var(--black);
    font-size: 1.1rem;
    font-weight: 500;
    transition: color 0.3s ease;
}

.user {
    display: flex;
    align-items: center;
}

.user i {
    color: var(--primary);
    font-size: 28px;
    margin-right: 7px;
}

.main a:hover {
    color: var(--primary);
}

#menu-icon {
    font-size: 35px;
    color: var(--black);
    cursor: pointer;
    z-index: 10001;
    display: none;
}

@media (max-width: 1299px) {
    header {
        padding: 14px 5%;
        transition: 0.2s;
    }

    .navbar a {
        padding: 5px 0;
        margin: 0 20px;
    }
}

@media (max-width: 1090px) {
    header {
        padding: 14px 7%;
        transition: 0.2s;
    }
    
    #menu-icon {
        display: block;
    }

    .navbar {
        position: absolute;
        top: 100%;
        right: -100%;
        width: 270px;
        height: 29vh;
        background: var(--primary);
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        border-radius: 10px;
        transition: all 0.50s ease;
    }

    .navbar a {
        display: block;
        margin: 12px 0;
        padding: 0 25px;
        transition: all 0.50s ease;
    }

    .navbar a:hover {
        color: var(--black);
        transform: translateY(5px);
    }

    .navbar a.active {
        color: var(--black);
    }

    .navbar.open {
        right: 2%;
    }
}


@media (max-width: 420px) {
 
    .main a{
        font-size: 12px;
    }

    .logo-img {
        width: 70px;
        height: auto;
        margin-left: -20%;
    }
   
}