.container-slider {
    padding: 0;
    margin: 0;
    width: 100%;
    display: grid;
    place-content: center;
}

.slider-wrapper {
    position: relative;
    width: 100%;
    max-width: 100%;
    overflow: hidden;
    margin-top: 80px;
}

.slider-wrapper ul {
    display: flex;
    padding: 0;
    width: 100%;
    transition: transform 0.5s ease;
    /* Smooth transition */
}

.slider-wrapper li {
    list-style: none;
    min-width: 100%;
    /* Each slide takes full width */
}

.slider-wrapper img {
    width: 100%;
    /* Responsive images */
}

.prev,
.next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    font-size: 34px;
    transition: background-color 0.3s ease;
    outline: none !important;
    opacity: 50%;
}

.prev {
    left: 10px;
}

.next {
    right: 10px;
}

.prev:hover,
.next:hover {
   opacity: 100%;
    /* Solid background on hover */
}